.page {
  background: #fff;
  max-width: 375px;
  margin: 0 auto;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.dateTitle {
  margin-top: 20px;
  font-size: 18px;
  font-weight: 700;
  color: #F2763D;
  text-align: center;
}
